<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
   <i class="icon-arrow-right"></i> <%= Spree.t(:redirects) %>
<% end %>

<% content_for :table_filter_title do %>
  <%= t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div class="box" data-hook="admin_redirect_index_search">
    <%= search_form_for @search, url: admin_redirects_path do |f| %>
      <div class="field-block alpha three columns">
        <div class="field">
          <%= Spree.t(:old_url) %>
          <%= f.text_field :old_url_cont, size: 18 %>
        </div>
      </div>
      <div class="three columns">
        <div class="field">
          <%= Spree.t(:new_url) %>
          <%= f.text_field :new_url_cont, size: 18 %>
        </div>
      </div>
      <div class="three omega columns">
        <div class="field">
          <%= Spree.t(:http_code) %>
          <%= f.text_field :http_code_eq, size: 18 %>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="actions filter-actions">
        <div data-hook="admin_redirect_index_search_buttons">
          <%= button t(:search) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div id="new_redirect_form"></div>

<table class="index">
  <thead>
	<tr>
    	<th><%= sort_link @search, :old_url,  Spree.t(:old_url) %></th>
    	<th><%= sort_link @search, :new_url, Spree.t(:new_url) %></th>
      <th><%= sort_link @search, :http_code, Spree.t(:http_code) %></th>
    	<th><%= Spree.t('action') %></th>
	</tr>
  </thead>
  <tbody>
    <%- @collection.each do |redirect|%>
    <tr id="<%= dom_id redirect %>">
      <td><%= redirect.old_url %></td>
      <td><%= redirect.new_url %></td>
      <td><%= redirect.http_code %></td>
      <td>
      	<%= link_to_edit redirect, :no_text => true %> &nbsp;
      	<%= link_to_delete redirect, :no_text => true %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @collection %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:new_redirect), new_admin_redirect_url, {remote: true, icon: 'icon-plus', id: "admin_new_redirect"} %></li>
<% end %>

