<%= render :partial => 'spree/admin/shared/sub_menu/configuration' unless request.xhr? %>

<%= form_for([:admin, @redirect]) do |f| %>
  <fieldset data-hook="new_redirect">
    <legend align="center"><%= Spree.t(:new_redirect) %></legend>

    <%= render partial: 'form', locals: {form: f} %>

    <div class='clearfix'></div>

    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
